@import '@/styles/color';
@import '@/styles/token';

.container {
  width: 266px;
  max-width: calc(100vw - 48px);
  max-height: min(500px, 75vh);

  .p-header {
    gap: @marginXs;

    .icon {
      color: @colorPrimary;
    }

    .title {
      font-size: 12px;
      color: @colorText;
    }
  }

  .divider {
    margin: @marginSm auto;
  }

  .space-search {
    padding: 0 0 @marginXs;
  }

  .input {
    width: 100%;
    height: 32px;
  }

  .empty-search {
    min-height: 36px;
    padding: 0 8px;
    font-size: 12px;
    color: @colorTextSecondary;
    font-size: @fontSizeSm;
  }

  .team-info {
    min-height: 36px;
    padding: 0 8px;
    font-size: 12px;
    gap: @marginXxs;
    color: @colorText;
    cursor: pointer;

    &:hover,
    &.team-info-active {
      background-color: @colorBgTextHover;
      border-radius: @borderRadiusSm;
    }
  }

  .space-list-keyboard {
    .team-info:hover:not(.team-info-active) {
      background-color: transparent;
      border-radius: 0;
    }
  }

  .create-team {
    padding: 0 22px;
    height: 32px;
    line-height: 32px;
    gap: @marginXxs;

    &:hover {
      background-color: @colorBgTextHover;
      border-radius: @borderRadiusSm;
    }
  }
}
