@import (reference) '@/styles/newx-editor.less';

.header {
  .newx-editor-header();

  .segment {
    position: static;
    flex: 0 0 auto;
    margin: 0 12px;

    :global(.ant-segmented-item-label) {
      display: flex;
      align-items: center;
      gap: 5px;
      min-height: 28px;
      line-height: 28px;
    }
  }

  @media (max-width: 1000px) {
    .segment {
      margin-left: 0;
    }
  }
}
