@import '@/styles/color';

.payment-tag {
  flex-shrink: 0;
  margin: 0;
  line-height: 1.5;
  font-size: 10px;
}

.time {
  line-height: 16px;
}

.footer {
  height: 24px;
  gap: 10px;

  .text {
    display: flex;
    align-items: center;
    margin-right: auto;
    font-size: 11px;
    color: var(--nx-muted);
    gap: 4px;
  }
}
