@import '@/styles/color';
@import '@/styles/token';

.container {
  .collection-title {
    margin-top: @margin;
    padding: @paddingXs;
    line-height: @fontHeightSm;
    font-size: 10px;
    letter-spacing: 0.08em;
    font-weight: 500;
    color: var(--nx-muted);
  }
}
